<h1><a href="/">戻るタスク一覧</a></h1>

<ul>
  <% @tasklists.each do |tasklist| %>
    <li><%= link_to tasklist.id, tasklist %> : <%= tasklist.content %></li>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_tasklist_path %>